body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d;
    margin-top: 0;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

.detectOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
}

.videoView p,
.detectOnClick p {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #007f8b;
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    margin: 0;
}

.highlighter {
    background: rgba(0, 255, 0, 0.25);
    border: 1px dashed #fff;
    z-index: 1;
    position: absolute;
}

.output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#output-content{
    display: flex;
    justify-content: end;
}

#output-container-2{
    display: grid;
}

.gesture-confidence{
    width: 540px;
    color: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}

#gesture-confidence-left{
    margin-bottom: 10px;
    background: linear-gradient(to right, #3d3d3d 0% ,#3d3d3d 70% ,#3d3d3d80 70% ,#3d3d3d80 100%);
}

#gesture-confidence-right{
    background: linear-gradient(to right, #3d3d3d 0% ,#3d3d3d 70% ,#3d3d3d80 70% ,#3d3d3d80 100%);
}


.output {
    display: none;
    width: 200px;
    font-size: 26px;
    margin: 4px 10px;
    height: 34px;
}

.gesture-confirmed{
    width: -webkit-fill-available;
    margin-left: 10px;
    background: #adb6bd;
    border-radius: 8px;
    padding: 14px 26px;
    font-size: 50px;
}

#gesture-confirmed-left{
    background: #007f8b80;
}

#gesture-confirmed-right{
    background: #adb6bd;
}

.canvas {
    z-index: 0;
    position: absolute;
    pointer-events: none;
    height: 300px;
}

#webcam {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#webcamButton{
    background: #3f7f8b;
    width: 250px;
    height: 50px;
}

.default-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%);

}

.default-btn:active {
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.container {
    background: #f3f5f7;
    margin: 30px auto;
    padding: 10px;
    width: fit-content;
    width: 766px;
    border-radius: 6px;
}

.video-container {
    position: relative;
    margin: 0px auto 20px;
    width: 360px;
    height: 270px;
    border-radius: 4px;
    box-shadow: #3d3d3d;
    float: left;
    z-index: 0;
}


.default-btn {
    z-index: 1;
    position: relative;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 4px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
}

#confirm-gest-btn{
    background: #3f7f8b;
    padding: 10px;
}

#new-gest-btn{
    background: #adb6bd;
    padding: 10px;
}

#btn-section {
    display: inline-block;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.shortcut-card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    background: white;
    border-radius: 4px;
    margin-bottom: 16px;
    min-width: 300px;
    padding: 12px;
    align-items: center;
    font-size: 18px;
}

.shortcut-card:hover {
    cursor: pointer;
    border: 4px solid #007f8b;
    padding: 8px;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%);

}

.shortcut-card:active {
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.shortcut-symbols {
    display: flex;
}

.shortcut-symbol {
    font-size: 28px;
    padding-left: 8px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.popup-button {
    font-size: 22px;
    margin: 10px 4px;
    border: none;
    padding: 0px 13px;
    color: black;
    cursor: pointer;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
}

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    background-color: rgba(0,0,0,0.3);
}

.popup-content {
    background-color: #fefefe;
    margin: 60px auto;
    padding: 20px;
    width: 766px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%);
    font-size: 20px;
}

.popup-content > p{
    margin: 20px;
}

#edit-popup-header{
    margin-bottom: 60px;
    font-weight: bold;
}

.popup-btn-section{
    margin-top: 30px;
    display: flex;
    justify-content: end;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #8d969d;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }